*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.carousel-control{
    background-image: none !important;
}
header{
    background-color: #33e2d1;
}
.header-top{
    padding:5px 0 5px 0;
}
.header-top_right{
    float: right;
}
.signIn, .logo-hunters{
    display: inline-block;
    margin-left: 5px;
}
.header-nav{
    background-color: #33e2d1 !important;
    border: none !important;
    margin-bottom: 0!important;
}
.navbar-nav-item a{
    color: #ffffff !important;
}
.navbar-nav-item:hover{
    border-bottom: 1px solid #ffffff;
}
.navbar-nav-button{
    background-color: #ffffff;
    border: none;
    border-radius: 100px;
    padding: 15px 30px;
}
.navbar-nav-button a{
    color: #000000 !important;
}
.intro{
    background-color: #33e2d1;
    text-align: center;
    color: #ffffff;
    padding-top: 15px;
}
.intro_desc{
    font-weight: bold;
}
.intro_button{
    background-color: #ffffff;
    border: 5px solid #99f1e8;
    border-radius: 100px;
    padding: 5px 10px;
}
.carousel-indicators{
    float: right;
}
.about{
    background-color: #f6f8f9;
}
.aboutSevices_tittle{
    color: #33e2d1;
    font-weight: bold;
}
.aboutServices_tittle_bottom{
    font-weight: bold;
}
.patented_select{
    font-weight: bold;
}
.patented_button{
    border: none;
    border-radius: 100px;
    background-color: #ffffff;
    padding: 5px 15px;
}
.patented_button:hover{
    box-shadow: 0px 0px 20px 10px #ebebeb;
}
.featured{
    padding-top: 20px;
    background-color: #1accbb;
    color: #ffffff;
}
.featured-top{
    text-align: center;
}
.featured_tittle{
    font-weight: bold;
}
.featured-item{
    margin-top: 15px;
}
.featured-item_tittle{
    font-weight: bold;
}
.featured-slide_box{
    height: 200px;
    background: url("../images/featured-slide1.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.step{
    text-align: center;
    padding-top: 50px;
}
.step-title{
    font-weight: bold;
    color: #33e2d1;
}
.step-item{
    text-align: center;
}
.step-item-box{
    width: 50%;
    height: 100%;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 10px #efeff5;
    margin: auto;
    padding: 40px 0;
}
.step-item-box-desc{
    color: #33e2d1;
}
.step-desc-text{
    font-weight: bold;
    color: #33e2d1;
}
.step_button{
    background-color: #33e2d1;
    border-radius: 100px;
    border: 3px solid #c1f6f1;
}
.funtions{
    background-color: #f2f6f9;
    text-align: center;
}
.funtions-slide_tittle{
    font-weight: bold;
    color: #33e2d1;
}
.tutorial-demo{
    background-color: #33e2d0;
}
.video-tutorial{
    width: 100%;
    height: 373px;
    display: table;
    text-align: center;
    background: url("../images/background-video.png") no-repeat;
}
.video-play__btn{
    height: 373px;
    background-color: transparent;
    color: #33e2d1;
}
.template-demo{
    padding-top: 15px;
    padding-bottom: 15px;
}
.template-title{
    font-weight: bold;
    color: #ffffff;
}
.template-desc{
    color: #ffffff;
}
.template-item{
    text-align: center;
}
.template-item_caption{
    color: #ffffff;
}
.template-button{
    background-color: #ffffff;
    border-radius: 100px;
    border: none;
    padding: 10px 30px;
}
.brand{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.brand-title{
    color: #33e2d1;
    font-weight: bold;
}
.brand-logo{
    display: inline-block;
    margin-top: 10px;
}
.clientsay{
    width: 100%;
    height: 200px;
    background: url("../images/clientsay.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    display: table;
}
.quote-int{
    display: table-cell;
    vertical-align: middle;
}
.quote{
    font-weight: bold;
    margin-bottom: 10px;
}
.client{
    font-weight: bold;
}
.quote_link{
    color: #000000;
}
.price-top{
    text-align: center;
}
.price-title{
    color: #33e2d1;
    font-weight: bold;
}
.price-item{
    text-align: center;
    border: 1px solid #000000;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.price-item:hover{
    box-shadow: 0px 0px 10px 10px #ebebeb;
}
.price-item_title{
    color: #33e2d1;
}
.price-item_button{
    background-color: #ffffff;
    border: none;
    border-radius: 100px;
    box-shadow: 0px 0px 5px 5px #ebebeb;
}
.price-item_button:hover{
    background-color: #33e2d1;
}
.contact{
    width: 100%;
    text-align: center;
    height: 150px;
    background: url("../images/contact.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: table;
}
.contact-box{
    height: 150px;
    display: table-cell;
    vertical-align: middle;
}
footer{
    padding-top: 10px;
    padding-bottom: 10px;
}
@media only screen and (min-width: 768px){
.container{
    width: 768px;
}
    .header-top{
        padding:15px 0 15px 0;
    }
    .signIn, .logo-hunters{
        margin-left: 15px;
    }
    .header-nav_desc{
        float: right;
        padding-right: 0!important;
    }
    .intro{
        padding-top: 30px;
    }
    .intro_tittle{
        margin-bottom: 15px;
        font-size: 10px;
    }
    .intro_desc{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .intro_button{
        font-size: 10px;
        margin-bottom: 15px;
    }
    .intro-item_caption{
        font-size: 10px;
    }
    .aboutServices{
        padding-top: 60px;
        padding-bottom: 70px;
    }
    .aboutSevices_tittle{
        margin-bottom: 10px;
        font-size: 15px;
    }
    .aboutServices_desc{
        margin-top: 20px;
    }
    .patented_tittle{
        margin-top: 15px;
        margin-bottom:5px;
    }
    .patented_input{
        margin-top: 15px!important;
    }
    .patented_button{
        margin-top: 30px;
    }
    .featured{
        padding-top: 40px;
    }
    .featured-item{
        margin-top: 20px;
    }
    .featured-slide_box{
        margin-top: 100px;
        height: 300px;
    }
    .step{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .step-title{
        margin-bottom: 10px;
    }
    .step-item{
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .step-item-box-desc{
        font-size: 20px;
    }
    .step-item_tittle{
        margin-top:20px;
        font-weight: bold;
    }
.funtions{
    padding-top: 50px;
    padding-bottom: 50px;
}
.funtions-slide-text{
    text-align: right;
}
.video-tutorial{
    height: 758px;
}
.video-play__btn{
   height: 758px;
}
    .template-demo{
        padding-top: 25px;
        padding-bottom: 25px;
    }
.template-slide{
    padding-top: 20px;
    padding-bottom: 20px;
}
    .brand{
        padding-top: 50px;
        padding-bottom: 50px;
    }
.brand-logo{
    margin: 30px;
}
.clientsay{
    height: 400px;
}
.quote{
    width: 50%;
    font-size: 25px;
    margin: auto;
}
.client{
    margin-top: 30px;
}
.price{
    padding-top: 20px;
    padding-bottom: 20px;
}
.price-item{
    margin-top: 50px;
}
.contact{
    height: 200px;
}
.contact-box{
    height: 200px;
}
.footer-right{
    text-align: right;
}
}
@media only screen and (min-width: 922px){
    .navbar-nav-button{
        padding: 15px 40px;
    }
    .intro{
        padding-top: 40px;
    }
}
@media only screen and (min-width: 1170px){
    .navbar-nav-button{
        padding: 15px 60px;
    }
    .intro{
        padding-top: 70px;
    }
}
@media only screen and (min-width: 1920px){
    .header-top{
        padding:30px 0 20px 0;
    }
    .intro{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .clientsay{
        height: 800px;
    }
    .intro_tittle{
        margin-bottom: 30px;
        font-size: 20px;
    }
    .intro_desc{
        font-size: 45px;
        margin-bottom: 35px;
    }
    .intro_button{
        font-size: 15px;
        margin-bottom: 30px;
    }
    .intro-item_caption{
        font-size: 20px;
    }
    .aboutServices{
        padding-top: 160px;
        padding-bottom: 200px;
    }
    .aboutSevices_tittle{
        margin-bottom: 20px;
        font-size: 30px;
    }
    .aboutServices_desc{
        margin-top: 40px;
    }
    .patented_tittle{
        margin-top: 30px;
        margin-bottom:10px;
    }
    .patented_input{
        margin-top: 30px!important;
    }
    .patented_button{
        margin-top: 60px;
    }
    .featured{
        padding-top: 125px;
        height: 1200px;
    }
    .featured-item{
        margin-top: 30px;
    }
    .featured-slide_box{
        margin-top: 100px;
        height: 590px;
    }
    .step{
        padding-top: 100px;
        padding-bottom: 144px;
    }
    .step-title{
        margin-bottom: 20px;
    }
    .step-item{
        margin-top: 80px;
        margin-bottom: 40px;
    }
    .step-item_tittle{
        margin-top:30px;
    }
    .step-item-box-desc{
        font-size: 40px;
    }
    .funtions{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .template-demo{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .template-slide{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .brand{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .brand-logo{
        margin: 30px 70px;
    }
    .price{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .contact{
        height: 600px;
    }
}